.list {
  background-color: var(--color-white);
  border: 1px solid var(--color-graycc);
  border-radius: 4px;
  padding: 8px 0;
  width: 173px;

  &.lg {
    width: 502px;
  }

  .list-item {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 56px;
    padding: 0 8px;
    width: 100%;
  }

  .list-item-link {
    align-items: center;
    display: flex;
    cursor: pointer;
    flex-flow: row nowrap;
    height: 40px;
    padding: 0 8px;
    width: 100%;
  
    &:hover {
      text-decoration: underline;
    }

    &.primary {
      color: var(--color-black);
      &:hover {
        background-color: var(--color-light-blue);
        color: var(--color-white);
        text-decoration: unset;
      }
    }

    &.danger {
      color: var(--color-black);
      &:hover {
        background-color: var(--color-error);
        color: var(--color-white);
        text-decoration: unset;
      }
    }

    &.dark {
      color: var(--color-black);
      &:hover {
        background-color: var(--color-gray);
        text-decoration: unset;
      }
    }
  }



}