.table {

  border: 1px solid var(--color-gray);
  width: 100%;
  table-layout: fixed;

  thead {
    border-bottom: 1px solid var(--color-gray);
  }

  th {
    vertical-align: middle;
    text-align: left;
    padding: 25px 0 15px 16px;

    span {
      align-items: center;
      justify-content: flex-start;
      display: flex;
    }

    &:first-child {
      padding-left: 0;
      text-align: center;
      width: 56px;
    }
  }

  td {
    vertical-align: middle;
    padding: 10px 0 10px 16px;
  }

}

.table-row-highlight {
  background-color: var(--color-light-teal);
}