@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: unset;
  border: unset;
  color: unset;
  font-family: unset;
  outline: unset;
}

:root {
  --color-blue: #1D72C2;
  --color-white: #fff;
  --color-black: #000;
  --color-light-blue: #0683F9;
  --color-light-teal: #8EC7FC33;
  --color-green: #429C41;
  --color-red: #BB3E3F;
  --color-pink: #DE0028;
  --color-light-pink: #ec284c;
  --color-orange: #FF6F00;
  --color-yellow: #FFC700;
  --color-teal: #1CC1F5;
  --color-gray: #E8E8E8;
  --color-gray33: #333;
  --color-gray66: #666;
  --color-gray99: #999;
  --color-graycc: #ccc;
  --color-graydd: #ddd;
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-black-90: rgba(0, 0, 0, 0.9);
  --color-white-90: rgba(255, 255, 255, 0.9);
  --font-primary: 'Open Sans', sans-serif;
  --border-color-base: #ccc;
  --color-disabled: #C6CACC;
  --color-error: #F03738;
  --color-light-error: #ee8a8a;
}

.btn, .btn-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: transparent;
  border-radius: 2px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 42px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 173px;
}

.btn:disabled, .btn-icon:disabled {
  background-color: var(--color-black);
  opacity: 0.25;
  color: var(--color-white);
  cursor: not-allowed;
  font-weight: bold;
}

.btn:active, .btn-icon:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn.lg, .btn-icon.lg {
  width: 502px;
}

.btn.sm, .btn-icon.sm {
  width: 131px;
}

.btn.xs, .btn-icon.xs {
  width: 68px;
  height: 32px;
}

.btn-icon {
  height: 42px;
  width: 42px;
}

.btn-primary {
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  color: var(--color-white);
}

.btn-primary-outline {
  background-color: var(--color-white);
  border: transparent;
  color: var(--color-blue);
  font-weight: bold;
}

.btn-secondary {
  background-color: var(--color-white);
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
}

.btn-success {
  background-color: var(--color-green);
  border: 1px solid var(--color-green);
  color: var(--color-white);
  font-weight: bold;
}

.btn-terciary {
  background-color: var(--color-white);
  color: var(--color-blue);
}

.btn-danger-outline {
  background-color: var(--color-white);
  border: transparent;
  color: var(--color-red);
  font-weight: bold;
}

.btn-danger {
  background-color: var(--color-red);
  border: 1px solid var(--color-red);
  color: var(--color-white);
}

.tag {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 24px;
  padding: 0 10px;
}

.tag-light {
  color: var(--color-blue);
  background-color: var(--color-light-teal);
}

.tag-dark {
  background-color: var(--color-black-10);
  color: var(--color-black);
}

.table-row-highlight .tag-light {
  background-color: var(--color-light-blue);
  border-color: transparent;
  color: var(--color-white);
}

.input[type=text],
.input[type=email],
.input[type=password] {
  border: 1px solid var(--border-color-base);
  border-radius: 4px;
  display: inline-block;
}

.input[type=text]:disabled,
.input[type=email]:disabled,
.input[type=password]:disabled {
  border: 1px solid var(--color-disabled);
  background-color: rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}

.input[type=text].error,
.input[type=email].error,
.input[type=password].error {
  border-color: var(--color-error);
}

select.input {
  border: 1px solid var(--border-color-base);
  border-radius: 4px;
  background-color: var(--color-white);
}

select.input.error {
  border-color: var(--color-error);
}

.input {
  padding: 6px 9px;
  width: 190px;
  height: 36px;
}

.input.lg {
  height: 42px;
  width: 380px;
}

.input:focus-visible {
  outline: none;
  border: 1px solid #444;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 9px;
}

.input-error-message {
  color: var(--color-error);
  padding-left: 9px;
}

.input-label-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

select.mini-input {
  background-color: var(--color-white);
  border: transparent;
  cursor: pointer;
  outline: none;
}

.label {
  font-size: 12px;
}

.required::after {
  content: '*';
  color: var(--color-error);
}

.navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-blue);
  color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 64px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
}

.navbar-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 100%;
}

.navbar-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 1px;
  margin-left: 34px;
}

.navbar-item a {
  color: var(--color-white);
  text-decoration: none;
}

.navbar-item.active {
  font-weight: bold;
  border-bottom: 2px solid var(--color-white);
}

.navbar-logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  height: 100%;
}

.title {
  color: var(--color-gray33);
  font-size: 24px;
  margin-bottom: 20px;
}

.container {
  padding: 40px 30px;
}

.max-width-1 {
  max-width: 800px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.gap-2 {
  gap: 2px;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.justify-content-space-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.justify-content-start {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.justify-content-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.justify-content-space-arount {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-self-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.dropdown-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 12px;
  position: relative;
}

.dropdown-menu .dropdown-toggler {
  cursor: pointer;
  justify-self: flex-end;
}

.dropdown-menu .dropdown-toggler:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.dropdown-menu.lg {
  width: 502px;
}

.dropdown-menu .dropdown-content {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 10;
}

.dropdown-menu .dropdown-content.offset-xr-sm {
  left: unset;
  right: 24px;
}

.dropdown-menu .dropdown-content.offset-x-sm {
  left: 24px;
}

.dropdown-menu .dropdown-content.offset-y-sm {
  top: 24px;
}

.dropdown-menu .dropdown-content.offset-x-md {
  left: 48px;
}

.dropdown-menu .dropdown-content.offset-y-md {
  top: 48px;
}

.dropdown-menu .dropdown-list {
  background-color: var(--color-white);
  border: 1px solid var(--color-graycc);
  border-radius: 4px;
  padding: 8px 0;
  width: 173px;
}

.dropdown-menu .dropdown-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--color-black);
  cursor: pointer;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 40px;
  padding: 0 8px;
  width: 100%;
}

.dropdown-menu .dropdown-item:hover {
  background-color: var(--color-gray);
}

.dropdown-menu .dropdown-item.primary {
  color: var(--color-black);
}

.dropdown-menu .dropdown-item.primary:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
  text-decoration: unset;
}

.dropdown-menu .dropdown-item.danger {
  color: var(--color-black);
}

.dropdown-menu .dropdown-item.danger:hover {
  background-color: var(--color-red);
  color: var(--color-white);
  text-decoration: unset;
}

.dropdown-menu .dropdown-item.link {
  color: var(--color-light-blue);
}

.dropdown-menu .dropdown-item.link:hover {
  background-color: unset;
  text-decoration: underline;
}

.dropdown-menu:active {
  -webkit-transform: none;
          transform: none;
}

.table {
  border: 1px solid var(--color-gray);
  width: 100%;
  table-layout: fixed;
}

.table thead {
  border-bottom: 1px solid var(--color-gray);
}

.table th {
  vertical-align: middle;
  text-align: left;
  padding: 25px 0 15px 16px;
}

.table th span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table th:first-child {
  padding-left: 0;
  text-align: center;
  width: 56px;
}

.table td {
  vertical-align: middle;
  padding: 10px 0 10px 16px;
}

.table-row-highlight {
  background-color: var(--color-light-teal);
}

.progress-bar {
  background-color: var(--color-graydd);
  border-radius: 4px;
  height: 8px;
  position: relative;
  width: 100%;
}

.progress-bar.x25::after {
  content: '';
  position: absolute;
  background-color: var(--color-teal);
  border-radius: 4px;
  height: 8px;
  width: calc(100% * 1 / 4);
}

.progress-bar.x50::after {
  content: '';
  position: absolute;
  background-color: var(--color-yellow);
  border-radius: 4px;
  height: 8px;
  width: calc(100% * 2 / 4);
}

.progress-bar.x75::after {
  content: '';
  position: absolute;
  background-color: var(--color-orange);
  border-radius: 4px;
  height: 8px;
  width: calc(100% * 3 / 4);
}

.progress-bar.x100::after {
  content: '';
  position: absolute;
  background-color: var(--color-pink);
  border-radius: 4px;
  height: 8px;
  width: calc(100% * 4 / 4);
}

.action-icon {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.action-icon:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.list {
  background-color: var(--color-white);
  border: 1px solid var(--color-graycc);
  border-radius: 4px;
  padding: 8px 0;
  width: 173px;
}

.list.lg {
  width: 502px;
}

.list .list-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 56px;
  padding: 0 8px;
  width: 100%;
}

.list .list-item-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 40px;
  padding: 0 8px;
  width: 100%;
}

.list .list-item-link:hover {
  text-decoration: underline;
}

.list .list-item-link.primary {
  color: var(--color-black);
}

.list .list-item-link.primary:hover {
  background-color: var(--color-light-blue);
  color: var(--color-white);
  text-decoration: unset;
}

.list .list-item-link.danger {
  color: var(--color-black);
}

.list .list-item-link.danger:hover {
  background-color: var(--color-error);
  color: var(--color-white);
  text-decoration: unset;
}

.list .list-item-link.dark {
  color: var(--color-black);
}

.list .list-item-link.dark:hover {
  background-color: var(--color-gray);
  text-decoration: unset;
}

.form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--color-graycc);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  width: 100%;
}

.form-header {
  background-color: var(--color-blue);
  color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 140px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 26px 32px;
  width: 100%;
}

.form-title {
  font-size: 18px;
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 30px;
  width: 100%;
}

.form-content {
  padding: 0 22px 0 22px;
  position: relative;
  margin-bottom: -80px;
  top: -80px;
  width: 100%;
}

.form-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  min-height: 130px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 16px;
  width: 100%;
}

.form-row-highlighted {
  border: 3px solid var(--color-light-blue);
  border-radius: 8px;
}

.form-subrow {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  height: 130px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.form-padding {
  padding: 32px;
}

.loader {
  color: #ccc;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load4 {
  0%,
  100% {
    -webkit-box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
            box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    -webkit-box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    -webkit-box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    -webkit-box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    -webkit-box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    -webkit-box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    -webkit-box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
            box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    -webkit-box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
            box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

@keyframes load4 {
  0%,
  100% {
    -webkit-box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
            box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    -webkit-box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    -webkit-box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    -webkit-box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    -webkit-box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    -webkit-box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    -webkit-box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
            box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    -webkit-box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
            box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

.modal {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-white);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 51;
}

.modal.sm {
  width: 340px;
}

.modal.md {
  width: 680px;
}

.modal.lg {
  width: 1215px;
}

.modal.padded {
  padding: 16px 31px 24px 31px;
}

.modal-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 50;
}

.modal-overlay {
  background-color: var(--color-black-90);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.treeview {
  font-size: 18px;
}

.treeview li {
  margin-top: 8px;
}

.treeview .level-1 {
  font-size: 18px;
  font-weight: bold;
}

.treeview .level-2 {
  font-size: 16px;
  font-weight: 400;
  margin-left: 32px;
}

.treeview .level-3 {
  font-size: 14px;
  margin-left: 64px;
}

.treeview .treeview-item {
  min-width: 100px;
}

.clickable {
  cursor: pointer;
}

.clickable:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.display-none {
  display: none !important;
}

.text-align-center {
  text-align: center !important;
}

.text-align-right {
  text-align: right !important;
}

.text-align-left {
  text-align: left !important;
}

.text-gray {
  color: var(--color-gray99);
}

.text-dark-gray {
  color: var(--color-gray33);
}

.text-black {
  color: var(--color-black);
}

.text-white {
  color: var(--color-white);
}

.text-primary {
  color: var(--color-blue);
}

.hover-color-primary:hover {
  color: var(--color-blue);
}

.hover-color-danger:hover {
  color: var(--color-red);
}

.p-0 {
  padding: 0 !important;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-32 {
  margin-left: 32px;
}

.ml-48 {
  margin-left: 48px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-32 {
  margin-right: 32px;
}

.mr-48 {
  margin-right: 48px;
}

.vh-60 {
  height: 60vh;
}

.vh-80 {
  height: 80vh;
}

.vh-100 {
  height: 100vh;
}

.border {
  border: 1px solid var(--color-graycc);
}

.border-color-gray {
  border-color: var(--color-graycc);
}

.font-sm {
  font-size: 12px;
}

.font-md {
  font-size: 14px;
}

.vanished {
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

td {
  vertical-align: middle;
  height: 50px;
}
/*# sourceMappingURL=main.css.map */