:root {
  --color-blue: #1D72C2;
  --color-white: #fff;
  --color-black: #000;
  --color-light-blue: #0683F9;
  --color-light-teal: #8EC7FC33;
  --color-green: #429C41;
  --color-red: #BB3E3F;
  --color-pink: #DE0028;
  --color-orange: #FF6F00;
  --color-yellow: #FFC700;
  --color-teal: #1CC1F5;
  --color-gray: #E8E8E8;
  
  --color-gray33: #333;
  --color-gray66: #666;
  --color-gray99: #999;
  --color-graycc: #ccc;
  --color-graydd: #ddd;

  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-black-90: rgba(0, 0, 0, 0.9);

  --color-white-90: rgba(255, 255, 255, 0.9);

  --font-primary: 'Open Sans', sans-serif;

  --border-color-base: #ccc;
  --color-disabled: #C6CACC;
  --color-error: #F03738;
}